/**
  Table of Contents

    - Global
    - Main App Container
    - Calculator Screen
    - Calculator Key Pad
 */


/**
  Global
 */

html {
  font-size: 25px;
  background-color: oldlace;
}

html,
body {
  height: 100%;
  width: 100%;
}


/**
  Main App Container
 */
#app {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


/**
  Calculator
 */

.calculator {
  padding: 1.25rem;
  background-color: darkgrey;
  border-radius: .9375rem;
}


/**
  Calculator Screen
 */

.screen {
  margin-bottom: .5rem;
}
.screen input {
  text-align: right;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  padding: .4rem;
  width: 100%;
}


/**
  Calculator Key Pad
 */

.keyPad {
  border-collapse: collapse;
}

.keyPad,
.keyPad button {
  width: 100%;
}

.keyPad button {
  font-size: 1rem;
  background-color: white;
  padding: .4rem 1rem;
}